#game {
    display: flex;
    justify-content: space-around;
    height: 150px;
}

#game img {
    height: 100px;
    width: 100px;
}

#chart-container {
    width: 800px;
    
}

#chart.chartjs-render-monitor{
    width: 1000px !important;
    height: 500px !important;
}